<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
    <link rel="stylesheet" href="/css/insert.css">
</head>
<body>
    <div class="background">
        <div class="div-top">
            <h1>게시글 수정</h1>
        </div>
        <div class="row1">
            <form method="post">
                <div class="title">
                    <label for="">제목</label>
                    <input type="text" name="title" value="<%= data.title %>">
                </div>
                <div class="content">
                    <textarea name="content" cols="50" rows="13" style="resize: none;"><%= data.content %></textarea>
                </div>
                <button>수정하기</button>
            </form>
        </div>
    </div>
</body>
</html>